.main {
  padding: 6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.main code {
  padding: 10px;
  background-color: #e2e2e2;
}

.github {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.github img {
  object-fit: cover;
}

